<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Change Password</h5>
              <form class="form-password-change">

                <div class="example-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="ms3@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                </div>
  
  
                <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>New password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" required>
                </mat-form-field>
              </div>

              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Confirm password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" required>
                </mat-form-field>
              </div>

                <!-- <div class="form-label-group">
                  <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
                  <label for="email">Email address</label>
                </div>
  
                <div class="form-label-group">
                  <input type="password" id="password1" class="form-control" placeholder="New Password" required>
                  <label for="password">New Password</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="password2" class="form-control" placeholder="Confirm Password" required>
                    <label for="password">Confirm Password</label>
                  </div> -->

                <button class="btn btn-lg btn-block text-uppercase" type="submit">Set Password</button>
                <hr class="my-4">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>