










<body>
  <form (ngSubmit)="onSubmit()" method="POST">
    
     <div class="row">
          <div class="column">
           
            <div class="container">
              <h2>Customer Information</h2>
     
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Assosiated Aadhar No.</mat-label>
                  <input matInput [(ngModel)]="element1.aadharNo" name="aadharNo" required disabled > 
                </mat-form-field>
    
             
                        
                        <br>
                        <mat-form-field appearance="fill">
                          <mat-label>Name </mat-label>
                          <input matInput [(ngModel)]="element1.fullName" name="fullName" required disabled >
                        </mat-form-field>
       
                        <br>
                        <mat-form-field appearance="fill">
                          <mat-label>Existing Account type </mat-label>
                          <input matInput [(ngModel)]="element1.account[0].acc_type" name="acc_type" required disabled >
                        </mat-form-field>
                        <br>
                        
                  </div>
      
                </div>
      
      
          </div>
      
          <div class = "vertical"></div>
      
          <div class="column">
              
              <div class="container2">
                  <h2>Account Information</h2>

                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Account number</mat-label>
                    <input matInput  matInput [(ngModel)]="element2.acc_no" name="acc_no"  required>
                  </mat-form-field>
                  
                  <mat-form-field appearance="fill" >
                    <mat-label>Account Type</mat-label>
                    <mat-select  matInput [(ngModel)]="element2.acc_type" name ="acc_type" required>
                      <mat-option value="savings">Savings</mat-option>
                      <mat-option value="current">Current</mat-option>
                    </mat-select>
                  </mat-form-field>
    
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>branch Name</mat-label>
                    <input matInput  matInput [(ngModel)]="element2.branchName" name="branchName"  required>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>branch Code</mat-label>
                    <input matInput  matInput [(ngModel)]="element2.branchCode" name="branchCode"  required>
                  </mat-form-field>
                  <br>
                  <mat-form-field appearance="fill">
                    <mat-label>Balance</mat-label>
                    <input matInput  matInput [(ngModel)]="element2.balance" name="balance"  required>
                  </mat-form-field>
                  <br>
                    
                  
                  <!-- <mat-label >Locker:&nbsp; </mat-label>
                    <input type="radio" name="isLocker" value="true">
                    <label for="male">Yes</label>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="isLocker" value="false">
                    <label for="female">No</label>
                    <br>
                  -->
      
                </div>
      
          </div>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Add Account</button></div>
      </form>
    </body>