<body>
<form (ngSubmit)="onSubmit()" method="POST">
  
   
    <div class="row">
        <div class="column">
         
          <div class="container">
            <h2>Account</h2>
   
                <div class="example-container">
                    <mat-form-field appearance="fill">
                      <mat-label>Customer ID </mat-label>
                      <input  matInput  [(ngModel)]="element1.id" name="id"   required readonly>
                    </mat-form-field>
                      
                      <br>
                   
                      <mat-form-field appearance="fill">
                        <mat-label>Account Number </mat-label>
                        <input matInput [(ngModel)]="element1.acc_no" name="acc_no" required readonly>
                      </mat-form-field>
                      <br>
                   
                      <mat-form-field appearance="fill">
                        <mat-label>Balance </mat-label>
                        <input matInput [(ngModel)]="element1.balance" name="balance"  required readonly>
                      </mat-form-field>
                      
                      <br>
                      
                </div>
    
              </div>
    
    
        </div>
    
        <div class = "vertical"></div>
    
        <div class="column">
            
            <div class="container2">
              <h2>Fund Transfer</h2>
    
              <div class="example-container">
                  <mat-form-field appearance="fill">
                    <mat-label>Transfer Account No </mat-label>
                    <input matInput [(ngModel)]="element1.transaction[0].transferAccNo" name="transferAccNo" required >
                  </mat-form-field>
      

      
                    <mat-form-field appearance="fill" >
                      <mat-label>Transfer Type</mat-label>
                      <mat-select [(ngModel)]="element1.transaction[0].transferType" name="transferType" required>
                        <mat-option value="NEFT">NEFT</mat-option>
                        <mat-option value="IMPS">IMPS</mat-option>
                        <mat-option value="RTGS">RTGS</mat-option>
                      </mat-select>
                    </mat-form-field>
      

                    <mat-form-field appearance="fill">
                      <mat-label>ifsc</mat-label>
                      <input matInput [(ngModel)]="element1.transaction[0].ifsc" name="ifsc" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                      <mat-label>Amount</mat-label>
                      <input matInput [(ngModel)]="element1.transaction[0].amount" name="amount" required>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                      <mat-label>Date</mat-label>
                      <input type="date" matInput [(ngModel)]="element1.transaction[0].date" name="date" required>
                    </mat-form-field>
                    
                      <div>
                          <button type="submit" class="btn btn-primary btn-md">Transfer</button>
                        </div>
              </div>
              </div>
    
        </div>
      </div>
    </form>
  </body>