



<body>
  <form (ngSubmit)="onSubmit()" method="POST">
    
     <div class="row">
          <div class="column">
           
            <div class="container">
              <h2>Account Information</h2>
     
                  <div class="example-container">
                      <mat-form-field appearance="fill">
                        <mat-label>Customer ID </mat-label>
                        <input  matInput [(ngModel)]="element1.id" name="id" required>
                        
                      </mat-form-field>
                        
                        <br>
                     
                        <mat-form-field appearance="fill">
                          <mat-label>Account Number </mat-label>
                          <input matInput [(ngModel)]="element1.acc_no" name="acc_no" required >
                        </mat-form-field>
                        <br>
                     
                        <mat-form-field appearance="fill">
                          <mat-label>Balance </mat-label>
                          <input matInput [(ngModel)]="element.balance" name="balance"  required >
                        </mat-form-field>
                        
                        <br>
                        
                  </div>
      
                </div>
      
      
          </div>
      
          <div class = "vertical"></div>
      
          <div class="column">
              
              <div class="container2">
                  <h2>Deposit Amount</h2>
                  
      
                  <div class="example-container">
                    <!-- <mat-form-field appearance="fill">
                      <mat-label>id</mat-label>
                      <input matInput [(ngModel)]="element1.withdraw[0].id" name="id" required >
                    </mat-form-field>     -->
  
  
                      <mat-form-field appearance="fill">
                        <mat-label>Enter Amount</mat-label>
                        <input matInput [(ngModel)]="element1.deposit[0].deposit_amount" name="deposit_amount" required >
                      </mat-form-field>    
  
                       <mat-form-field appearance="fill">
                      <mat-label>Date</mat-label>
                      <input type="date" matInput  [(ngModel)]="element1.deposit[0].date" name="date" required>
                    </mat-form-field> 
                  </div>
      
                </div>
      
          </div>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary btn-lg">Deposit</button></div>
      </form>
    </body>
  