table {
  width: 60%;
  margin-left: 10%;
  align-content: center; 
  border-radius: 2rem;
  }
  
  .mat-form-field {
     margin-left: 10%;
    font-size: 20px;
    width: 60%;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }

  .align{
    margin-left:15%;
    margin-top: 1.5%;
  }
